@mixin clearfix {
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin position_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
phone 600-
tab-port 900-
tab-land 1200-
big-desk 1800+

1em=16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and(max-width:37.5em) {     //600px
      @content
    }
  }
  @if $breakpoint==tab-port {
    @media only screen and (max-width:56.25em) {    //900px
      @content
    }
  }
  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {   //1200
      @content
    }
  }
  @if $breakpoint==big-desk {
    @media only screen and (min-width: 112.5em) {  //1800px
      @content
    }
  }

}