.footer {
  background-color: $color-grey-dark-3;

  padding: 10rem 0;
  font-size: 1.4rem;

@include respond(tab-port){
  padding: 8rem 0;
}

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  @include respond(tab-port){
    margin-bottom: 6rem;

  }
  &__logo {
    width: 15rem;
    height: auto;

  }
  &__navigation {
    border-top:1px solid $color-grey-dark;
    padding-top: 1rem;
    display: inline-block; //line will be only above text, not for 100%

    @include respond(tab-port){
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;

  }
  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }

  }
  &__link {

    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active{
      background-color: $color-grey-dark-3;
      color: $color-primary-dark;
      box-shadow: 0 1rem 2rem $color-black;
      transform: rotate(-5deg) scale(1.1);

    }

  }

  &__copyright{
    color: $color-grey-light-1;
    border-top:1px solid $color-grey-dark;
    padding-top: 1rem;
    width: 85%;
    float: right;

    @include respond(tab-port){
      width: 100%;
      float: none;
    }

    & a{
      padding-left:3px;
      padding-right:3px;
    }

  }


}