
.header {
  position: relative;
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path:polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
    height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.4em),
  only screen and (-webkit-max-device-pixel-ratio: 2) and (min-width: 37.4em),
  only screen and (min-width: 125em) {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg)
  }

  // expression below is replaced by expression above  ",(min-width: 2000px)" where "," means OR
  //@media (min-width: 2000px) {
  //  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg)
  //}

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
    width: auto;
  }

  &__text-box {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
