.navigation {

  &__checkbox {
    display: none;
  }
  &__button {
    position: fixed;
    top: 6rem;
    right: 6rem;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    z-index: 1002;
    background-color: $color-white;
    box-shadow: 0 1rem 1.5rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;
    transition: all .2s;

    @include respond(tab-port){
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone){
      top: 3rem;
      right: 3rem;
    }

  }
  &__background {
    position: fixed;
    z-index: 999;
    top: 6.5rem;
    right: 6.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-port){
      top: 4.9rem;
      right: 4.9rem;
    }


    @include respond(phone){
      top: 4rem;
      right: 4rem;
    }

  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1001;

    //hide by default
    opacity: 0;
    width: 0%;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  }

  &__list {
    @include position_center;
    list-style: none;
    text-align-last: center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    span {
      margin-right: 1rem;
      display: inline-block;
    }

    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      text-decoration: none;
      color: $color-white;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%); //sliced gradient without blur
      background-size: 220%; //--- increase->moves background and covers text with transparent part of gradient
      transition: all .4s;
    }

    &:hover,
    &:active {
      background-position: 100%; //--- moves background to left and cover ul>li text with white part of gradient
      color: $color-primary;
      transform: translateX(1rem)
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80); //animation: increases circle

  }
  &__checkbox:checked ~ &__nav {
    width: 100%; //animation: shows element
    opacity: 1; //animation: shows element
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.4rem;
    transition: all .2s;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      z-index: 4000;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before{
    top: -1rem;
  }

  &__button:hover &__icon::after{
    top: 1rem;
  }

  &__checkbox:checked ~ &__button &__icon{
    background-color: transparent;
  }

  &__checkbox:checked ~ &__button &__icon::before{
    transform:rotate(135deg);
    top:0;
  }

  &__checkbox:checked ~ &__button &__icon::after{
    transform:rotate(-135deg);
    top:0;
  }

}