.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
  opacity: .15;
  overflow: hidden;//hide overflowed parts

  &__content{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}