
.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    position: relative;
    font-size: $font-size-default;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;

    //changes for the button element
    border: none;
    cursor: pointer;

    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-.3rem);
    transition: 0.2s;
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  //:focus for button element
  &:active,
  &:focus{
    outline: none;
    box-shadow: 0 0.4rem 1rem rgba($color-black, 0.2);
    transform: translateY(-0.1rem);
    transition: 0.2s;
  }
  &--white {
    background: $color-white;
    color: $color-grey-dark;
    &::after {
      background: $color-white;
    }
  }

  &--green{
    background: $color-primary;
    color: $color-white
  ;
    &::after {
      background: $color-primary;
    }

  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    transition: .4s;
  }


  &--animated {
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
  }
}

.btn-text{
  &:link,
  &:visited{
    display: inline-block;
    font-size: $font-size-default;
    color: $color-primary;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s;
  }
  &:hover{
    background-color:$color-primary;
    color: $color-white;
    box-shadow: 0 1rem 1rem rgba($color-black, .15);
    transform: translateY(-1.5px);
  }
  &:active{
    transform: translateY(-0.5px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, .15);
  }
}