.card {

  perspective: 150rem; //should be high value to fix perspective
  position: relative;
  height: 52rem; //fix blinking while flipping

  &__side {
    height: 52rem;
    border-radius: 3px;
    overflow: hidden; // without 'hidden' image inside will overflow parent element rounded borders
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: all .8s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // fix conflict of hiding one after another
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }
    &--back {;
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
      }
      &-3 {
        background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
      }

    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 25rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark),
      url(../../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark),
      url(../../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark),
      url(../../img/nat-7.jpg);
    }

  }

  &__heading {
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 75%;
    text-align: right;

    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;

  }

  &__heading-span {
    padding: .65rem 1.5rem;
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to bottom right,
              rgba($color-secondary-light, 0.8),
              rgba($color-secondary-dark, 0.8));
    }
    &--2 {
      background-image: linear-gradient(to bottom right,
              rgba($color-primary-light, 0.8),
              rgba($color-primary-dark, 0.8));
    }
    &--3 {
      background-image: linear-gradient(to bottom right,
              $color-tertiary-light,
              $color-tertiary-dark);
    }

  }

  &__details {
    padding: 3rem;

    ul {
      margin: 0 auto;
      margin-bottom: 2rem;
      width: 80%;
      list-style: none;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
  //back SIDE  front STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    text-align: center;

    .card__price-box {
      color: $color-white;
      margin-bottom: 8rem;

    }

    &-only {
      text-transform: uppercase;
      font-size: 1.4rem;
    }
    &-price {
      font-size: 6rem;
      font-weight: 100;
      margin-bottom: 6rem;
    }

  }

  //************************//
  //*****MOBILE VERSION*****//
  //************************//

  //@include respond(tab-port)
  @media only screen and (max-width:56.25em),
  only screen and (hover: none){
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;


      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 0);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    ///////////
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;

      .card__price-box {
        margin-bottom: 3rem;

      }

      &-price {
        font-size: 4rem;
        margin-bottom: 3rem;
      }

    }
  }
}