.feature-box {
  background-color: rgba($color-white, .8);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  border-radius: 3px;
  transition: all .2s;

  @include respond(tab-port){
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port){
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
  &_text {

  }
}