.form {
  &__group {
    backface-visibility: hidden; //animation blinking fix
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    display: block;
    width: 90%;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: rgba($color-white, .5);
    transition: all .2s;

    @include respond(tab-port){
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark;
    }
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.7rem;
    margin-left: 2rem;
    transition: all .3s;
  }

  // chose input with shown placeholders (there is no text at the moment) and then choose their direct next!! sibling +
  // works only for next sibling in dom tree, never for previous and should be ~ for second,third..etc
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    display: inline-block;
    width: 49%;
    @include respond(tab-port){
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none; //hide native checking circles in order to replace them by custom

  }
  &__radio-label {
    position: relative;
    padding-left: 4rem;
    font-size: $font-size-default;
    cursor: pointer; //UX: shows that field is clickable
  }

  &__radio-button {
    display: inline-block;
    position: absolute;
    top: -.45rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid $color-primary;

    &::after {
      content: ""; //should be always defined in pseudo elements
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background-color: $color-primary;
      transform: translate(-50%, -50%);
      transition: opacity .2s;
      opacity: 0; //unchecked is invisible
    }
  }
  // + check first next sibling of class &__radio-input:checked
  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;

  }

}