.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, .8);
  z-index: 10000;

  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  backface-visibility: hidden;

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))  {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .2);
}




  &__content {
    @include position_center;
    display: table;
    background-color: $color-white;
    width: 75%;
    //height: 40vh;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    //for animation
    opacity: 0;
    transition: all .2s;
    transform: translate(-50%, -50%) scale(.25);
  }

  &__left {
    display: table-cell;
    width: 33.3333%;
    @include respond(tab-port){
      display: inline-block;
      visibility: hidden;
      width: 0;
    }

  }

  &__img {
    display: block;
    //border:3px solid red;
    width: 100%;
    height: auto;
    @include respond(tab-port){
      visibility: hidden;
      width: 0;

    }

  }

  &__right {
    display: table-cell;
    width: 66.6666%;
    vertical-align: middle;
    padding: 3rem 5rem;
    backface-visibility: hidden;
    @include respond(tab-port){
      width: 95%;
    }
  }

  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid $color-grey-light-2;
    hyphens: auto;
    @include respond(phone){column-count: 1;}
  }


  //:target= visible states
  //when this element is chosen (after clicking on button with href=#popup) current element get pseudo :target
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2rem;
      right: 2rem;
      text-decoration: none;
      font-size: 2rem;
      color: $color-grey-dark;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;

    }
  }
}