.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, 0.5);
  padding: 6rem;
  padding-left: 9rem;
  border-radius: 3px;
  font-size: $font-size-default;
  transform: skewX(-15deg);
  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__text {
    transform: skewX(15deg);
    @include respond(phone) {
      transform: skewX(0);
    }

  }

  &__shape {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;


    //skew back
    transform: translateX(-3rem) skewX(15deg);

    @supports (clip-path: polygon(0 0) or (-webkit-clip-path: polygon(0 0)) ) {
      //circle for other elements around
      shape-outside: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      //circle visual
      clip-path: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }
  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden; //fix cirle shrinking
    transition: all .4s;

  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: $color-white;
    text-transform: uppercase;
    text-align-last: center;
    font-size: 1.7rem;
    transition: all .4s;
    backface-visibility: hidden; //fix blicnking at the end of animation
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

}