
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines what is 1rem
  font-size: 62.5%; /* with default browser settings 16px 1rem=10px*/

  //1200-
  //1rem=9px. 9\16=56.25%
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  //900-
  //1rem=8px. 8\16=50%
  @include respond(tab-port) {
    font-size: 50%;
  }
  //600-
  //1rem=4.8px
  //@include respond(phone){
  //  font-size:30%;
  //}

  //1800+
  //1rem-12px 12\16=75%
  @include respond(big-desk) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  padding: 3rem;

  @include respond(tab-port){
    padding: 0;
  }

}

::selection{
  background-color: $color-primary;
  color: $color-white;
}
