
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;

}


.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /*margin-bottom: 6rem;*/
  backface-visibility: hidden; /*clears shaking at the end of animation in children*/

  &--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    @include respond(phone){
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.7rem;
    margin-bottom: 4rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    @include respond(phone){
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .2s;
  //text gradient color settings is above
  display: inline-block;
  background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
  -webkit-background-clip: text ;
  color: transparent;

  @include respond(tab-port){
    font-size:3rem;
    letter-spacing:1px;
  }

  @include respond(phone){
    font-size:2.5rem;
    letter-spacing:1px;
  }

  &:hover{
    transform: skewY(-5.5deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black,0.2);
  }
}
.heading-tertiary{
  font-size: $font-size-default;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph{
  font-size: $font-size-default;

  &:not(:last-child){
    margin-bottom: 3rem;

}
}