
.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; //move section upper to hide sliced corner
  @include respond(tab-port){
    padding: 18rem 0 18rem 0;
  }
}


.section-features {
  padding: 18rem 5rem;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url(../../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;

  transform: skewY(-7deg);
  //select all direct childs and skew them back
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port){
    padding: 11rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port){
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.book {
  //cut half of container background
  background-image: linear-gradient(105deg,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 50%,
          transparent 50%),
    url(../../img/nat-10.jpg);
  background-size: cover; //100% is the same
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  //height: 50rem; // TEST

  @include respond(tab-land){
    background-image: linear-gradient(105deg,
            rgba($color-white, 0.9) 0%,
            rgba($color-white, 0.9) 65%,
            transparent 65%),
    url(../../img/nat-10.jpg);
  }

  @include respond(tab-port){
    background-image: linear-gradient(105deg,
            rgba($color-white, 0.9) 0%,
            rgba($color-white, 0.75) 65%),
    url(../../img/nat-10.jpg);
  }

}

.form{
  width: 50%;
  padding: 6rem;
  @include respond(tab-land){
    width: 65%;
  }
  @include respond(tab-port){
    width: 100%;
  }

}
